@import "variables";
@import "overrides";

.tab-group {
  max-width: 90vw;
}

h3 {
  width: 100%;
}

.tab-content {
  padding: 3rem;

  .company-name {
    font-weight: bolder;
  }
}

.tools-text {
  margin-top: 2rem;
}


