<div class="container">
  <h2>Where I've worked</h2>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Vmo Solutions">
      <div class="tab-content">
        <h4>Front-end Developer Co-op &#64; Vmo Solutions</h4>
        <ul>
          <li>Implemented web development technologies, for example React, in building UI components for an aviation
            program</li>
          <li>Experienced in collaborating and working with a small team</li>
        </ul>
        <p class="tools-text">Tools used: React, TypeScript, Redux, Material</p>
      </div>
    </mat-tab>
    <mat-tab label="AIDA">
      <div class="tab-content">
        <h4>Front-end Developer Co-op &#64; Vmo Solutions</h4>
        <ul>
          <li>Participated in projects by assisting and developing literature surveys, data preparation and data visualizations</li>
          <li>Assisted on data cleaning such as expanding abbreviations, applying n-gram, etc.. for a NPL project</li>
          <li>Prepared and delivered a data analytics workshop for a group of high school students as part of a summer WISE camp</li>
          <li>Attended client meetings</li>
        </ul>
       <p class="tools-text">Tools used: Microsoft Excel, Google Colab, Research, Google Slides, Literature Surveys, Technical Writing</p>
      </div>
    </mat-tab>
    <mat-tab label="IBM">
      <div class="tab-content">
        <h3>Front-end Developer Co-op &#64; Vmo Solutions</h3>
        <ul>
          <li>Participated in projects by assisting and developing literature surveys, data preparation and data
            visualizations</li>
          <li>Assisted on data cleaning such as expanding abbreviations, applying n-gram, etc.. for a NPL project</li>
          <li>Prepared and delivered a data analytics workshop for a group of high school students as part of a summer WISE
            camp</li>
          <li>Attended client meetings</li>
        </ul>
        <p class="tools-text">Tools used: Microsoft Excel, Google Colab, Research, Google Slides, Literature Surveys, Technical
          Writing</p>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
