/* @link https://utopia.fyi/type/calculator?c=360,200,1.2,2770,500,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

// :root {
//   /* Step -2: 138.89px → 320.00px */
//   --step--2: clamp(8.68rem, calc(6.99rem + 7.51vw), 20.00rem);

//   /* Step -1: 166.67px → 400.00px */
//   --step--1: clamp(10.42rem, calc(8.24rem + 9.68vw), 25.00rem);

//   /* Step 0: 200.00px → 500.00px */
//   --step-0: clamp(12.50rem, calc(9.70rem + 12.45vw), 31.25rem);

//   /* Step 1: 240.00px → 625.00px */
//   --step-1: clamp(15.00rem, calc(11.41rem + 15.98vw), 39.06rem);

//   /* Step 2: 288.00px → 781.25px */
//   --step-2: clamp(18.00rem, calc(13.39rem + 20.47vw), 48.83rem);

//   /* Step 3: 345.60px → 976.56px */
//   --step-3: clamp(21.60rem, calc(15.71rem + 26.18vw), 61.04rem);

//   /* Step 4: 414.72px → 1220.70px */
//   --step-4: clamp(25.92rem, calc(18.40rem + 33.44vw), 76.29rem);

//   /* Step 5: 497.66px → 1525.88px */
//   --step-5: clamp(31.10rem, calc(21.50rem + 42.66vw), 95.37rem);
// }

:root {
  --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem);
  --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1.00rem);
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
  --step-2: clamp(1.62rem, calc(1.50rem + 0.58vw), 1.95rem);
  --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
  --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
  --step-5: clamp(2.80rem, calc(2.45rem + 1.77vw), 3.82rem);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  flex-direction: column;
}

h1 {
  // font-size: 20rem;
  font-size: clamp(4.03rem, calc(-5.12rem + 50.73vw), 24rem);
}

h2 {
  font-size: clamp(1.88rem, calc(1.03rem + 4.21vw), 4.30rem);
  margin-top: 8rem;
}

button {
  margin-top: 3rem;
}

