.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  flex-direction: column;
}

h1 {
  font-size: clamp(4.03rem, calc(-2.12rem + 50.73vw), 24rem);
}

h2 {
  font-size: clamp(1.88rem, calc(1.03rem + 4.21vw), 4.3rem);
  margin-top: 10rem;
  @media only screen and (max-width: 961px) {
    margin-top: 8rem;
  }

  @media only screen and (max-width: 600px) {
    margin-top: 6rem;
  }

  @media only screen and (max-width: 450px) {
    margin-top: 3rem;
  }
}

button {
  margin-top: 3rem;
  @media only screen and (max-width: 961px) {
    margin-top: 1rem;
  }
}

.mat-raised-button {
  line-height: 66px;
  min-width: 70px;
  font-size: 20px;
}
