<div class="container">
  <span class="nav-menu-button" (click)="openCloseNav()">
    <button id="newHamNav" class="hamburger-icon" aria-controls="primary-navigation" aria-expanded="false">
      <svg stroke="var(--button-color)" fill="none" class="hamburger" viewBox="-10 -10 120 120" width="100px">
        <path class="line" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" 
        d="m 20 40 h 60 a 1 1 0 0 1 0 20 h -60 a 1 1 0 0 1 0 -40 h 30 v 70">
      </path>
    </svg>
  </button>
</span>


  <nav class="nav-bar">
    <ul class="primary-navigation">
      <li class="nav-bar-contact-link">
        <a routerLink="contact-page">Contact</a>
      </li>
    </ul>
  </nav>

  <nav class="nav-menu" id="navMenu">
    <ul class="nav-menu-links">
      <li class="nav-menu-link" routerLink="/" (click)="openCloseNav()">Home</li>
      <li class="nav-menu-link" routerLink="experience-page" (click)="openCloseNav()">Experience</li>
      <li class="nav-menu-link" routerLink="project-page"  (click)="openCloseNav()">Projects</li>
      <li class="nav-menu-link" routerLink="contact-page" (click)="openCloseNav()">Contact</li>
    </ul>
  </nav>
</div>
