@use '@angular/material' as mat;

$custom-typography: mat.define-typography-config(
  $font-family: 'Quicksand',
  $body-2: mat.define-typography-level(18px, 28px, 700),
  $body-1: mat.define-typography-level(1.3125rem, 1.5rem, 400),
  $caption: mat.define-typography-level(14px, 22px, 400)
);
