/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-background: #004643;
  --clr-headline: #fffffe;
  // --clr-paragraph: #abd1c6;
  --clr-paragraph: #9ae2cd; // more color friendly

  --clr-button: #f9bc60;
  --clr-button-text: #001e1d;

  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "Playfair Display", serif;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
  background-color: var(--clr-background);
  overflow-x: hidden;
  width: 100vw;
}

body,
h1,
h2,
h3,
p,
li {
  margin: 0;
  letter-spacing: 0.064em;
}

h1,
h2,
h3 {
  color: var(--clr-headline);
  font-family: var(--ff-accent);
  font-weight: 900;
  line-height: 1;
  margin-bottom: 1rem;
}

p {
  color: var(--clr-paragraph);
}

li,
a {
  color: var(--clr-headline);
}

// h2,
// h3,
// p {
//   margin-bottom: 1em;
// }

// img {
//   display: block;
//   max-width: 100%;
// }

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

icon-color {
  color: var(--clr-button);
}
