@import "variables";
// @use '~@angular/material' as mat;
@import "~@angular/material/theming";
// @include mat.core();


$custom-typography: mat-typography-config(
  $font-family: 'Quicksand',

  $display-4: mat-typography-level(112px, 112px, 900, $letter-spacing: -0.05em),
  $display-3: mat-typography-level(56px, 56px, 800, $letter-spacing: -0.02em),
  $display-2: mat-typography-level(45px, 48px, 700, $letter-spacing: -0.005em),
  $display-1: mat-typography-level(34px, 40px, 600),
  $headline: mat-typography-level(54px, 36px, 600),
  $title: mat-typography-level(24px, 34px, 800),
  $subheading-2: mat-typography-level(22px, 32px, 700),
  $subheading-1: mat-typography-level(20px, 30px, 700),
  $body-2: mat-typography-level(18px, 28px, 700),
  $body-1: mat-typography-level(1.3125rem, 1.5rem, 400),
  $caption: mat-typography-level(14px, 22px, 400)
);
@include mat-core($custom-typography);



:root {
  --clr-background: #004643;
  --clr-headline: #fffffe;
  // --clr-paragraph: #abd1c6;
  --clr-paragraph: #9ae2cd; // more color friendly

  --clr-button: #f9bc60;
  --clr-button-text: #001e1d;


  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "Playfair Display", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--clr-headline);
}



body {
  font-family: var(--ff-primary);
  font-weight: 400;
  // font-size: 1.3125rem;
  line-height: 1.6;
  background-color: var(--clr-background);
  overflow-x: hidden;
  width: 100vw;
}


body,
h1,
h2,
h3,
p,
li {
  margin: 0;
  letter-spacing: 0.064em;
}

h1,
h2,
h3 {
  color: var(--clr-headline);
  font-family: var(--ff-accent);
  font-weight: 900;
  line-height: 1;
  margin-bottom: 1rem;
}

p, li {
  color: var(--clr-paragraph);
}

a {
  color: var(--clr-headline);
}

button {
  // background-color: var(--clr-button);
}

// h2,
// h3,
// p {
//   margin-bottom: 1em;
// }

// img {
//   display: block;
//   max-width: 100%;
// }

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

icon-color {
  color: var(--clr-button);
}

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


